<div class="container-fluid py-3">

    <form method="post" action="./completeTransact">
        <div class="controls">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_name">First Name</label>
                        <input id="lname" type="text" readonly='true' value="{{fname}}" name="fname"
                            class="form-control" placeholder="{{fname}}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_name">Last Name</label>
                        <input id="fname" type="text" readonly='true' value="{{lname}}" name="lname"
                            class="form-control" placeholder="{{lname}}">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="form_phone">Phone</label>
                        <input id="form_phone" type="tel" value="{{phoneNumber}}" name="phoneNumber" readonly='true'
                            class="form-control" placeholder={{phoneNumber}}>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="form_phone">Service Name</label>
                    <input id="form_phone" type="text" name="transactName" required="required" class="form-control"
                        data-error="Enter service name" placeholder="Translate">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="form_control">Service Date</label>
                    <input id="form_control" type="date" name="transactDate" required="required" class="form-control"
                        data-error="Enter service date" placeholder="mm-DD-yyyy">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="form_name">Cost</label>
                    <input id="cost" type="text" name="cost" class="form-control" required="required"
                        data-error="Enter Cost" onkeypress='validate(event)' placeholder="Expenses">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="form_name">Price</label>
                    <input id="price" type="text" onkeypress='validate(event)' name="price" class="form-control" required="required"
                        data-error="Enter Price" placeholder="Charge">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="form_name">Time</label>
                    <input id="form_phone" type="text" name="time" required="required" class="form-control"
                        data-error="Enter time in hours" placeholder="3 hrs">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Description</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Service Details"
                        rows="4" required="required" data-error="send a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12">
            <input type="submit" class="btn btn-warning btn-send" value="Complete Transaction">
        </div>

    </form>

</div>
<style>
    body {
        background-image: url("https://cdn2.iconfinder.com/data/icons/flat-money/114/money-add-512.png");
        background-size: 33.7%;
        background-repeat: repeat;
    }
</style>

<script>
    //function that only allows numeric input into 
    //cost and and price fields
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>