
<p>Search Client Database</p>
<form action="searchClient"><input type="text"id="searchbar"placeholder="Search by first or last name"
  class="form-control"onkeyup="search()" ></form>

{{#each clients}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col"colspan='2'><center>Options</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text"value={{fname}} class="form-control"name="fname"readonly></td>
      <td><input type="text"value={{lname}} class="form-control"name="lname"readonly></td>
      <td><input type="text"value={{phoneNumber}} class="form-control"name="phoneNumber"readonly></td>
      <td>
        <form method="post" action="/clients/addTransact/{{phoneNumber}}">
          <input name='id' type='submit' value="Add Transaction" class='btn btn-secondary' />
        </form>
      </td>
      
    </tr>
  </tbody>
</table>
{{else}}
<h1>No Clients in Database</h1>
{{/each}}
<script>
  /*

  KENNY PLEASE GET THIS TO WORK 
  WITH SEARCH BAR OUT OF MAIN TABLE
  also make the f(x) exec with a btn,
  remove onkeyup

  function search(){
    var input=document.getElementById('searchbar').value.toLowerCase();
    for(int i=0;i<clients:i++){
      if({{fname}}==input){
        
      }
    }
  }
  */
</script>