
<div class="header">
  <h3>View Clients</h3>
</div>
<div>
<form class="form-inline" action="searchClient">
  <input type="text" id="searchbar"placeholder="Search by first or last name"
  class="form-control"onkeyup="search()" >
  <input type='submit' id="btn" value="Search" class='btn btn-secondary' />
  </form>
  <br/>
</div>



<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col" colspan='2'><center>Options</center></th>
    </tr>
  </thead>
  <tbody>
    {{#each clients}}
    <form method="post" action="addTransact">
    <tr>
      <td label="First Name"><input type="text" value={{fname}} class="form-control"name="fname" readonly="true"></td>
      <td label="Last Name"><input type="text" value={{lname}} class="form-control"name="lname" readonly="true"></td>
      <td label="Phone Number"><input type="text" value={{phoneNumber}} class="form-control"name="phoneNumber" readonly="true"></td>
      <td>
        
          <input id="sub" type='submit' value="New Transaction" class='btn btn-secondary' />
        
      </td>
      
    </tr>
    </form>
    {{else}}
<h1>No Clients in Database</h1>
{{/each}}
  </tbody>
</table>
<script>
  /*

  KENNY PLEASE GET THIS TO WORK 
  WITH SEARCH BAR OUT OF MAIN TABLE
  also make the f(x) exec with a btn,
  remove onkeyup

  function search(){
    var input=document.getElementById('searchbar').value.toLowerCase();
    for(int i=0;i<clients:i++){
      if({{fname}}==input){
        
      }
    }
  }
  */
</script>
<style>
.header{
  text-align: center;
}
/*Mobile View*/
@media  only screen and (max-width: 760px)  {
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  td, tr :not(form) { display: block; }
  
  /* Hide table headers (but not display: none;, for accessibility) */

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid rgb(119, 118, 175); }
  
  tr + tr { margin-top: 1.5em; }
  
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  
  td:before {
    content: attr(label);
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    white-space: nowrap;
  }
  #sub{
      display: block;
      width: 100%;
    }
  #btn, #searchbar
  {
    vertical-align: middle;
  }
  }
</style>