<div>
  <h3>View Transactions</h3>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Service Name</th>
      <th scope="col">Price</th>
      <th scope="col">
        Options
      </th>
    </tr>
  </thead>
  {{#each transactions}}
  <tbody>
    <tr>
      <td label="Date"><input type="date" value="{{transactDate}}" class="form-control" name="transactDate" readonly="true">
      </td>
      <td label="Name"><input type="text" value="{{fname}} {{lname}}" class="form-control" name="fname" readonly="true">
      </td>
      <td label="Service Name"><input type="text" value="{{transactName}}" class="form-control" name="lname" readonly="true">
      </td>
      <td label="Service Price"><input type="text" value="${{transactPrice}}" class="form-control" name="transactPrice" readonly="true">
      </td>
      <td><nav>
        <button class="navbar-toggler btn-dark" type="button" data-toggle="collapse" data-target="#transDetails{{phoneNumber}}" 
        aria-controls="transDetails{{phoneNumber}}" aria-expanded="false">View Details</button>
      </nav></td>
    <thead id="transDetails{{phoneNumber}}"class="collapse">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Phone</th>
      <th scope="col">Cost</th>
      <th scope="col">Description</th>
      <th scope="col"><button class="btn btn-warning hidden">Edit</button></th>
    </tr>
  </thead>
    </tr>
    <tr id="transDetails{{phoneNumber}}"class="collapse">
      <td label="Time"><input type="number" value="{{transactTime}}" class="form-control"name="Time" readonly="true"></td>
      <td label="Phone"><input type="number" value="{{phoneNumber}}" class="form-control"name="phone" readonly="true"></td>
      <td label="Cost"><input type="number" value="${{transactCost}}" class="form-control"name="Cost" readonly="true"></td>
      <td label="Description"><textarea value="{{descript}}" class="form-control"name="description" readonly="true"></textarea></td>
      <td><button class="btn btn-danger hidden">Delete</button></td>
    </tr>
  </tbody>
  {{else}}
  <h1>No Transactions in Database</h1>
  {{/each}}
</table>
<style>
  .hidden{
    display:none;
  }
/*Mobile View*/
@media  only screen and  (max-width: 760px)  {
  
  td, tr :not(form) { display: block; }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid rgb(119, 118, 175); }
  tr + tr { margin-top: 1.5em; }
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  td:before {
    content: attr(label);
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    white-space: nowrap;
  /*Mobile View*/
  @media only screen and (max-width: 760px) {

    td,
    tr :not(form) {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid rgb(119, 118, 175);
    }

    tr+tr {
      margin-top: 1.5em;
    }

    td {
      /* make like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      text-align: left;
    }

    td:before {
      content: attr(label);
      display: inline-block;
      line-height: 1.5;
      width: 100%;
      white-space: nowrap;
    }
    #sub{
      display: block;
      width: 100%;
    }
  }
</style>