
<p>Search Client Database</p>
<form action="searchClient"><input type="text"id="searchbar"placeholder="Search by first or last name"
  class="form-control"onkeyup="search()" ></form>

{{#each clients}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col"colspan='2'><center>Options</center></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="First Name"><input type="text"value={{fname}} class="form-control"name="fname"readonly></td>
      <td data-label="Last Name"><input type="text"value={{lname}} class="form-control"name="lname"readonly></td>
      <td data-label="Phone Number"><input type="text"value={{phoneNumber}} class="form-control"name="phoneNumber"readonly></td>
      <td>
        <form method="get" action="/clients/addTransact/{{phoneNumber}}/{{fname}}/{{lname}}">
          <input name='id' type='submit' value="Add Transaction" class='btn btn-secondary' />
        </form>
      </td>
      
    </tr>
  </tbody>
</table>
{{else}}
<h1>No Clients in Database</h1>
{{/each}}
<script>
  /*

  KENNY PLEASE GET THIS TO WORK 
  WITH SEARCH BAR OUT OF MAIN TABLE
  also make the f(x) exec with a btn,
  remove onkeyup

  function search(){
    var input=document.getElementById('searchbar').value.toLowerCase();
    for(int i=0;i<clients:i++){
      if({{fname}}==input){
        
      }
    }
  }
  */
</script>
<style>
/*Mobile View*/
@media  only screen and  (max-width: 760px)  {
  
  td, tr :not(form) { display: block; }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid rgb(119, 118, 175); }
  
  tr + tr { margin-top: 1.5em; }
  
  td {
    /* make like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    white-space: nowrap;
  }

  }
</style>